.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 7px;  
}

.text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover{
        animation: rubberBand 0.5s;
        color: #ffd700;
    }
}

@for $i from 1 through 100{
    .text-animate._#{$i}{
        animation-delay: #{$i / 20}s;
    }
}